.AllRecipeContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 175px;
}

.AllRecipeHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
}

.AllRecipeHeaderText {
    font-size: 50px;
    margin-bottom: 0px;
    font-weight: 500;
}

.AllRecipeSubText {
    font-size: 20px;
    padding-bottom: 20px;
    
}


.AllRecipeCardContainer {
    display: flex;
    justify-content: center;

}

.AllRecipeCardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    padding: 10px;

}

