.AllRecipeContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 200px;
    margin: 0% 10% 10% 10%;
}

.AllRecipeHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
}

.AllRecipeHeaderText {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1rem;
}

.AllRecipeSubText {
    font-size: 22px;
    padding: 10px 0px 15px 0px ; 
}

.AllRecipeCardContainer {
    display: flex;
    justify-content: center;
}

.AllRecipeCardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    padding: 10px;

}

