.CreateReviewDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 175px;
    background-color: #fff;
}

/* add a recipe page contianer */
.AddARecipeContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 32px 20% 100px 20%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%);
    padding: 50px;
}

.AddARecipeHeaderDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
}

/* add recipe sub header */
.AddARecipeHeader {
    font-size: 50px;
    margin-bottom: 0px;
    font-weight: 600;
    letter-spacing: 0.5px;
    justify-content: flex-start;
    text-align: flex-start;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.AddARecipeHeaderSub {
    font-size: 22px;
    line-height: 1.75rem;
    letter-spacing: 0.5px;
    padding-bottom: 20px; 
    border-bottom: 1px solid rgba(113, 116, 118, 0.256);
}

.RecipeFormContainerForm label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.50rem;
    letter-spacing: 0.5px;
    font-weight: 700;    
}

.RecipeFormContainer input {
    resize: none;
    padding: 10px;
    width: 95%;
    min-height: 20px;
    letter-spacing: 0.5px;
    height: auto;
    border: 1px solid rgba(0,0,0,.3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.50rem;
    cursor: text;
    margin-top: 8px;
    margin-bottom: 3px;
}

.RecipeFormContainer textarea {
    resize: none;
    overflow-y: scroll;
    padding: 10px;
    width: 95%;
    min-height: 150px;
    letter-spacing: 0.5px;
    height: auto;
    border: 1px solid rgba(0,0,0,0.3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.50rem;
    cursor: text;
    margin-top: 8px;
}

.CreateFormGap {
    padding-top: 35px;
}

/* add recipe button div */
.AddARecipeButtonDiv {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(113, 116, 118, 0.256);
}

.AddARecipeButton {
    font-size: 14px;
    line-height: 1.25rem;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-transform: uppercase;
    text-underline-offset: 0.25rem;
    background-color: black;
    border: none;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding:10px 28px;
    width: 35%;
}

.AddARecipeButton:disabled {
    color: rgba(255, 255, 255, 0.536);
    background-color: grey;
    border: none;
}


.CreateRecipeError {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.25rem;
    letter-spacing: 1px;
    font-weight: 700;  
    color: black; 
    background-color: #fae6e6;
    padding-left: 8px;
    display: flex;
    width: 97%;
    align-items: center;
}

/* .exclamation {
    width: 25px;
    height: 25px;
    object-fit: fill;
    padding: 5px;

} */
