.RecipeInfoForm {
    padding: 15px;
    padding-left: 25px;
    align-items: center;
    margin-bottom: 25px;
}

.AddButton {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}

.DirectionDiv {
}

.DirectionContainer {
    background-color: aqua;
}

.Direction {
    background-color: blue;
}
