/* create review form container */
.CreateReviewForm {
    height: auto;
    padding: 20px;
    border: 24px solid #eeeef0;
    /* margin-top: 40px; */
}

.CreateReviewSubmit {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.ReviewInputTextBox textarea {
    padding: 6px ;
    width: 95%;
    height: auto;
    min-height: 90px;
    border: 1px solid rgba(113, 116, 118, 0.256);
    font-size: 13px;
    cursor: text;
    resize: none;
    overflow-y: scroll;
    overflow-y: hidden;
}

.ReviewUserName {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 22px;
}

.CreateReviewStars {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 22px;

}


