.EditRecipeDiv {
    background-color: white;
}


.EditRecipeHeader {
    font-size: 24px;;
}

.EditRecipeFormDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.EditRecipeFormInputSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.ReviewInputTextBox {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.CreateReviewError {
    display: flex;
    align-items: center;
    font-size: 13px;
}


.Reviewer {
    margin-bottom: 50px;
    border-bottom: 1px solid gainsboro;
    width: 80px;

}