.EditReviewDiv {
    display: flex;
    width: 40%;
    padding: 10px 20px 20px 20px;
    margin-bottom: 25px;
}

.ReviewInputStars {
    display: flex;
    padding-top: 25px;
    margin-bottom: 10px;
    flex-direction: column;
}

.EditReviewInputReview {
    padding: 6px ;
    width: 95%;
    height: auto;
    min-height: 90px;
    border: 1px solid rgba(113, 116, 118, 0.256);
    font-size: 13px;
    cursor: text;
    resize: none;
    overflow-y: scroll;
    overflow-y: hidden;
}


.EditReviewButton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 99%;
    margin-top: 10px;
}
