.EditRecipeDiv {
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 240);
}

.EditRecipeHeader {
    font-size: 24px;;
}

.EditRecipeFormDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.EditRecipeFormInputSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}