

.edit-ingredient-form {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    font-weight: 100;
    padding-top: 10px;

}

.edit-ingredient-form-span {
    white-space: nowrap;
    padding-right: 10px;
}

.edit-ingredient-form-input {
    margin-right: 5px;
}

.edit-ingredient-form-label {
    text-transform: capitalize;
}

.edit-ingredient-save-button {
    font-size: 12px;
    line-height: 1.25rem;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-transform: uppercase;
    text-underline-offset: 0.25rem;
    background-color: black;
    border: none;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding:10px 10px;
}

.edit-ingredient-save-button-cancel {
    font-size: 12px;
    line-height: 1.25rem;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-transform: uppercase;
    text-underline-offset: 0.25rem;
    background-color: white;
    border: none;
    color:black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding:10px 10px;
}


.edit-ingredient-button-div {
    margin: 10px 0px;
    display: flex;
}