.EditDirectionDiv {
}

.EditDirectionForm {
}

.EditDirectionFormInput {
}

.EditDirectionButton {
    cursor: pointer;
    width: 100px;
    color: black;
    border: 0.1875rem solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    background-color: white;
    letter-spacing: 1px;
    font-weight: 700;
    margin-left: 20px;
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
}

.EditDirectionContainer {
}

