.FeaturedRecipeDiv {
    background-color: aqua;
}

.FeaturedRecipeCard {
    background-color: green;

}

.FeaturedRecipeImage {
    background-color: pink;
    width: 60%;
    height: 40%;
}

.FeaturedRecipeInfo {
    background-color: yellow;
}

.FeaturedRecipeTitle {
    background-color: orange;
}

.FeaturedRecipeText {
    background-color: blueviolet;
}

.FeaturedRecipeDescription {
    background-color: navy;
}

.FeaturedRecipeDescriptiontext {
    background-color: honeydew;

}