.NavBarMainDiv {
    position: fixed;
    height: 5.75rem;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    box-shadow: 0 0.125rem 0.375rem rgb(0 0 0 / 15%);
    z-index: 12;
    display: block;
    background-color: white;
}

.NavBarTopContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-left: 40px;
    margin-right: 9%;
}

.NavBarLogo {
    display: grid;
    flex-direction: column;
}

.NavBarLogo > img {
    width: 500px;
    height: 65px;
}

.NavBarTopRight {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    width: auto;
}

.NavBarUserBar {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}

.NavBarUserBarSearch {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
 }

.NavBarHome {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.NavBarHelloUser {
    padding: 5px;
    font-size: 15px;
    line-height: 1.50rem;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.NavBarUserTopRight {
    padding: 0 12px 0 12px;
    font-size: 15px;
    line-height: 1.50rem;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    text-decoration: none;
}

button.NavBarUserTopRight {
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-top: none;
    border-bottom: none;
    border-right: none;
    background-color: white;
}

.NavBarUserTopRight:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

.NavBarUserBarImage {
    width: 20px;
    height: 20px;
    padding-left: 15px;
}

.NavBarBottomContainer {
    display: flex; 
    justify-content: center;
    padding-top: 10px;
}

.NavBarTags {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.NavBarLogoutButton {
    padding: 5px;
    font-size: 15px;
    line-height: 1.50rem;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
    background-color: white;
}

.NavBarLogoutButton:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
}  

.NavBarBottomLink {
    margin: 5px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 15px;
    color: #000000F2;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

.NavBarBottomLink:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

#NavbarX {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white
}

#NavBarIcon {
    padding: 0 12px 0 12px;
    font-size: 18px;
    cursor: pointer;
}

#NavBarBookmark {
    padding: 0 12px 0 12px;
    font-size: 18px;
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}


#NavBarIconSearch {
    padding: 0 12px 0 12px;
    font-size: 18px;
    cursor: pointer;
}
