
.RecipePageContainer {
    position: relative;
    top: 175px;
    margin: 1% 20% 0 20%;
    display: flex;
    flex-direction: column;
}

.RecipePageHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.RecipePageHeaderText {
    display: flex;
    justify-content: flex-start;
    font-size: 55px;
    margin-bottom: 10px;
}

.RecipePageAverageRatingDiv {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 20px;
}

.RecipePageDescription {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin-top: 15px;
    width: 70%;
}

.RecipePageUser {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.RecipePageCreateAt {
    margin-left: 30px;
}

.RecipePageRecipeCardButton {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.RecipePageRecipeCardEdit {
    width: auto;
    height: auto;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    margin-right: 10px;
}

.RecipePageRecipeCardDelete {
    width: auto;
    height: auto;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    margin-right: 10px;

}

.SingleRecipeTimeServing {
    display: flex;
    flex-direction: row;
    background-color: #eeeef0;
    width: 650px;
    margin-bottom: 40px;
}

.TimeServingDiv {
    margin-right: 50px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 20px 30px 20px;
}

.TimeServingHeader {
    font-size: 20px;
    margin-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.RecipePageImage {
    width: 650px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 30px;
}

.RecipePageIngredients {
    font-size: 35px;
    font-weight: 600;
}

.RecipePageIngredientsText {
    font-size: 18px;
    padding-bottom: 20px;
    width: 60%
}

.RecipePageDirections {
    font-size: 35px;
    font-weight: 600;
    background-color: blanchedalmond;
    width: 52%;
}

.RecipePageDirectionsStep {
    font-size: 18px;
    padding-bottom: 20px;
    background-color: blanchedalmond;
    width: 48%;
}

.RecipeReviewLogin {
    display: flex;
    flex-direction: row;

}

.RecipeReviewFirst {
    font-size: 28px;
    font-weight: 600;
}
.RecipeReviewContainer {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.RecipePageBottom {
    display: flex;
    flex-direction: column; 
}

.RecipeReviewLogin {

    display: flex;
    flex-direction: column;

}
.RecipeReviewCreateReview {
    position: absolute;
}