/* single recipe container */
.recipe-page-container {
    position: relative;
    top: 200px;
    margin: 0% 20% 0% 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
}

/* recipe header containter */
.RecipePageHeader {
    display: inline-block;
    width: 80%; 
    align-items: last baseline;
    overflow-wrap: break-word;
}

/* recipe header */
.RecipePageHeaderText {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    font-weight: 600;
    letter-spacing: 0.25px;
    color: black;
    overflow-wrap: break-word;
    width: 80%;
}

/* recipe edit and delete */
.RecipePageEditDeleteDiv{
    white-space: nowrap
}

.RecipePageEditDelete {
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    padding-left: 10px;
    text-transform: capitalize;
}

.RecipePageEditDelete:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px; 
}

/* recipe's rating and scroll to recipe */
.RecipePageSubHeaderDiv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 700;
    width: 80%;
}

/* Be the first to rate & review! */
.RecipePageSubHeaderBar {
    width: 80%;
    text-underline-offset: 0.2rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    font-weight: 100;
    font-size: 14px;
    text-decoration-line: underline;
}

.RecipePageSubHeaderBar:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px; 
}

/* recipe with reviews */
.RecipePageReviewBox {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    margin-top: 1rem;
}

/* recipe review text */
.RecipePageReviews:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 1px; 
    text-underline-offset: 0.2rem;
    cursor: pointer;
}

.RecipePageAverageRatingNumber {
    padding-left: 5px;
}

/* recipe page | character  */
.RecipePageDividerChar {
    color: rgba(0,0,0,.15);
    font-weight: 100;
    padding: 0.2rem;
    font-size: 16px;
}

/* scroll to recipe */
.RecipePageRecipeScroll {
    color: rgb(192, 192, 192);
    font-weight: 100;
}

.RecipePageRecipeScroll:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 1px; 
    text-underline-offset: 0.2rem;
    cursor: pointer;
}

.RecipePageDescription {
    font-size: 1.125rem;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    line-height: 1.5rem;
    margin: 1rem 0;
    letter-spacing: 0.5px;
    width: 80%;
    overflow-wrap: break-word;
}

.RecipePageUser {
    display: flex;    
    flex-direction: row;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    width: 80%;
    margin-bottom: 1rem;
}

.RecipePageUserName{
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px 1rem 5px;
    line-height: 1.5rem;
}

.RecipePageDividerChar2 {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    color: rgba(0,0,0,.15);
}

/* recipe create and update */
.RecipePageDate {
    margin-left: 10px;
    line-height: 1.5rem;
    font-weight: 200;
    color: rgb(192, 192, 192);
    letter-spacing: 0.5px;
}

.RecipePageImage {
    width: 80%;
    height: 500px;
    object-fit: cover;
    aspect-ratio: auto;
}

/* recipe total time and yield */
.TimeServingDiv {
    margin-right: 50px;
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    font-weight: 100;
}

.TimeServingHeader {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;   
    font-weight: 700;
}

.RecipeBodyEmpty {
    font-family: Georgia, 'Times New Roman', Times, serif;   
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.RecipeBodyText {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    font-weight: 100;
    padding-top: 10px;
    text-transform: lowercase;
}


.RecipeDirectionText {
    width: 80%;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    font-weight: 100;
    padding-top: 10px;
}


.RecipePageIngredientListBox {
    width: 80%;
    margin-left: 20px;
}

.Recipe404Page{
    top: 200px;
    margin: 18% 20% 15% 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.Recipe404Text {
    font-family: Georgia, 'Times New Roman', Times, serif;    
    font-weight: 700;
    font-size: 48px;
    width: 40%;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-left: 10%;
}

.RecipePageImg {
    display: flex;
    justify-content: end;
}

.ReceipePage404img {
    object-fit: cover;
    width: 60%;
}

.RecipePage404SubText {
    display: flex;
    justify-content: center;
    font-size: 22px;
    letter-spacing: 0.5px;
    padding-top: 5%;
    padding-bottom: 2%;
}

.BackHomeButtonDiv {
    display: flex;
    justify-content: center;
}

.BackHomeButton {
    cursor: pointer;
    width: 300px;
    height: 40px;
    color: black;
    border: 0.1875rem solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    background-color: white;
    padding: 0.6875rem 0;
    letter-spacing: 1px;
    font-weight: 700;
}

/* review container */
.RecipePageBottom {
    display: flex;
    flex-direction: column; 
}

/* recipe servings */
.RecipePageServingDiv {
    width: 80%;
    background-color: #eeeef0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem 0 1rem 0;
}

.RecipePageBottom {
    width: 80%;
    margin: 3rem 0;
}

.LeaveAReview {
    font-size: 26px;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 0.5px;
    justify-content: flex-start;
    text-align: flex-start;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 24px solid #eeeef0;
    padding: 30px;
    margin: 3rem 0 ;
}

/* recipe ingredient and direction header box */
.RecipeBodySpanBox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 2rem;
    width: 80%;
}

/* recipe ingredient and direction header text */
.RecipeBodyHeader {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}


/* recipe ingredient and direction edit button */
.RecipeBodyEdit {
    padding-left: 10px;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    white-space: nowrap;

}

.RecipeBodyEdit:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px; 
}

.RecipePageIconText {
    padding-left: 3px;
}

/* recipe ingredient and direction add button */
#recipe-page-body-add-button {
    font-size: 12px;
    line-height: 1.25rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: black;
    border: none;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    white-space: nowrap;
    
}

/* recipe ingredient and direction add button box */
.RecipePageAddButtonDiv {
    width: 80%;
}

.RecipePageAddFormDiv {
    padding: 1rem 0;
}

.RecipePageBodyTextEmpty {
    font-size: 1.125rem;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    margin: 1rem 0;
}

.recipe-edit-form {
    
}