/* Search Bar */
.SearchBarDiv {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.SearchBarResult {
    width: auto;
    display: flex;
    align-items: center;
}

.SearchText {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 8px;
    font-weight: bold;
    cursor: default;
    font-size: 16px;
}

.SearchBarInput {
    padding: 12px;
    font-size: 16px;
    border: 1px solid black;
    width: 400px;
}

.SearchBarResultDiv {
    display: flex;
    flex-direction: column;
    padding: 0px 16%;
    position: absolute;
    margin: 12% 0;
    text-decoration: none;
}

.SearchBarResultDiv a:link {
    text-decoration: none;
}

.SearchBarResultDiv a:hover {
    font-weight: bold;
    font-size: 22px;
}

.SearchBarResultDisplay {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 6px;
}


.MagnifyingGlassSearchButton {
    border: none;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-size: 16px;
    padding: 12px;
    cursor: pointer
}

#SearchXmark {
    padding: 15px;
    font-size: 25px;
    color: grey;
}

/* Search Page */
.SearchPageResultHeaderDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #eeeef0;
    top: 140px;
}

.SearchPageResultHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    text-align: flex-start;
    background-color:#eeeef0;
    margin: 40px 10% 35px 10%;
}

/* search result for text */
.SearchPageResulth3 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 8px;
}

/* text box */
.SearchPageResultText {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background-color: white;
    width: 50%;
    padding: 2px;
    margin-bottom: 3px;
}

/* search text box input  */
.SearchPageResultInput {
    border: none;
    padding: 13px;
    width: 80%;
    font-size: 16px;
}

#SPMagnifyingGlass {
    padding: 5px;
    margin-left: 5px;
}

#SPXMark {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

#ClearSearch {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-left: 5px;
}

.SearchBarResultContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 175px;
    margin: 0% 10% 10% 10%;

}

.SearchBarPageResult {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    padding-top: 10px;
}

.ResultForText {    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.ResultForTerm {
    font-weight: bolder;

}

.SearchResultPageBlank {
    width: 100%;
}

.SearchAllRecipeh2 {
    margin: 0px 10% 0px 10%;
    font-size: 45px;
}

.RandomRecipeGenerator {
    margin: 25px 10% 10px 10%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.65rem;
    letter-spacing: 0.5px;
    overflow-wrap: break-word;
}

.RandomRecipeGenerator a:link {
    text-decoration: none;
}

.RandomRecipeGeneratorButton {
    font-size: 15px;
    line-height: 1.25rem;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-transform: uppercase;
    text-underline-offset: 0.25rem;
    background-color: black;
    border: none;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 6px 6px 6px 6px;
    width: 200px;
}

.SearchResultText {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 3rem;
    margin: 0px 10% 0px 10%;
}

.SearchResultSub {
    font-size: 18px;
    line-height: 1rem;
    margin: 0px 10% 15px 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic
}

.SearchTerm {
    text-decoration: underline;
    font-weight: 600;

}

