/* top page space */ 
.UserRecipeDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10%;
}

.UserRecipeContainer {
    display: flex;
    justify-content: flex-end;
}

/* page header container */
.UserRecipeHeaderDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

/* page header: Personal recipes */
.UserRecipeHeaderText {
    font-size: 50px;
    margin-bottom: 0px;
    font-weight: 600;
    justify-content: flex-start;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* page subheader: Recipes you have created */
.UserRecipeSubText {
    font-size: 22px;
    margin: 10px; 
    text-align: center;
}

/* user recipe grid */
.UserRecipeCardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    padding: 10px;
}

.UserNoRecipes {
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 600;
    justify-content: flex-start;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.RecipePages {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: left;
    margin-top: 20px;
}

#RecipePageTexts {
    padding: 20px 60px;
    margin: 0;
}

.RecipePageTexts:hover {
    text-decoration: underline;
}