/* top page space */ 
.UserRecipeDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 175px;
    margin: 0px 5%;
}

/* .UserRecipeContainer {
    display: flex;
    justify-content: center;
} */

/* page header container */
.UserRecipeHeaderDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: green;

}

/* page header: Personal recipes */
.UserRecipeHeaderText {
    font-size: 50px;
    margin-bottom: 0px;
    font-weight: 600;
    justify-content: flex-start;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* page subheader: Recipes you have created */
.UserRecipeSubText {
    font-size: 22px;
    margin: 10px; 
    text-align: center;
}

/* user recipe grid */
.UserRecipeCardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    padding: 10px;
}

.UserNoRecipes {
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 600;
    justify-content: flex-start;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.RecipePages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.RecipePageTexts {
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: white;
}



.RecipePageTexts:hover {
    text-decoration: underline;
}